@using AutomatizarOs.Core.Enums
@using AutomatizarOs.Core.Models


<MudDialog>
    <TitleContent>
        <h2 class="font-extrabold text-lg lg:text-2xl font-sans text-[#750303]">ADICIONAR RESPOSTA OS: @ServiceOrder.Id</h2>
    </TitleContent>
    <DialogContent>
        <div class="flex flex-col w-full gap-3 border-t border-b border-[#dfdfdf] my-4">
            <h2 class="font-bold text-lg font-sans text-[#750303] mt-3 mb-3 uppercase">EMPRESA: @ServiceOrder.EEnterprise</h2>
        </div>
        <div class="flex flex-col w-full gap-3 border-b border-[#dfdfdf] my-4">
            <h2 class="font-bold text-lg font-sans text-[#750303] mt-3 uppercase">DADOS DO CLIENTE</h2>
            <p class="font-normal font-sans uppercase"><span class="font-bold font-sans text-[#750303] uppercase">NOME:</span> @ServiceOrder.Customer.Name</p>
            <p class="font-normal font-sans uppercase"><span class="font-bold font-sans text-[#750303] uppercase">ENDEREÇO:</span> @ServiceOrder.Customer.Street, @ServiceOrder.Customer.Number, @ServiceOrder.Customer.Neighborhood</p>
            <p class="font-normal font-sans mb-3 uppercase"><span class="font-bold font-sans text-[#750303] uppercase">TELEFONE:</span> @ServiceOrder.Customer.Phone</p>
        </div>
        <div class="flex flex-col w-full gap-3 border-b border-[#dfdfdf] my-4">
            <h2 class="font-bold text-lg font-sans text-[#750303] mt-3">DADOS DO PRODUTO</h2>
            <p class="font-normal font-sans uppercase"><span class="font-bold font-sans text-[#750303]">TIPO:</span> @ServiceOrder.ProductType</p>
            <p class="font-normal font-sans uppercase"><span class="font-bold font-sans text-[#750303]">MARCA:</span> @ServiceOrder.ProductBrand</p>
            <p class="font-normal font-sans uppercase"><span class="font-bold font-sans text-[#750303]">MODELO:</span> @ServiceOrder.ProductModel</p>
            <p class="font-normal font-sans uppercase"><span class="font-bold font-sans text-[#750303]">SÉRIE:</span> @ServiceOrder.ProductSerialNumber</p>
            <p class="font-normal font-sans uppercase"><span class="font-bold font-sans text-[#750303]">DEFEITO:</span> @ServiceOrder.ProductDefect</p>
            <p class="font-normal font-sans uppercase mb-3"><span class="font-bold font-sans text-[#750303]">DATA DE ENTRADA:</span> @ServiceOrder.EntryDate.ToString("dd/MM/yyyy")</p>
        </div>
        <div class="flex flex-col w-full gap-3 border-b border-[#dfdfdf] my-4">
            <h2 class="font-bold text-lg font-sans text-[#750303] mt-3">INFORMAÇÕES SOBRE O ORÇAMENTO</h2>
            <p class="font-normal font-sans uppercase"><span class="font-bold font-sans text-[#750303]">SOLUÇÃO:</span> @ServiceOrder.Solution</p>
            <p class="font-normal font-sans uppercase"><span class="font-bold font-sans text-[#750303]">VALOR:</span> @ServiceOrder.Amount</p>
            <p class="font-normal font-sans uppercase"><span class="font-bold font-sans text-[#750303]">ORÇAMENTO FEITO EM:</span> @ServiceOrder.InspectionDate?.ToString("dd/MM/yyyy")</p>
            <p class="font-normal font-sans uppercase"><span class="font-bold font-sans text-[#750303]">CONSERTO FEITO EM:</span> @ServiceOrder.RepairDate?.ToString("dd/MM/yyyy")</p>
            <p class="font-normal font-sans uppercase mb-3"><span class="font-bold font-sans text-[#750303]">ENTREGA FEITA EM:</span> @ServiceOrder.DeliveryDate?.ToString("dd/MM/yyyy")</p>
            <p class="font-normal font-sans uppercase"><span class="font-bold font-sans text-[#750303]">SITUAÇÃO:</span> @Situacao</p>
            <p class="font-normal font-sans uppercase"><span class="font-bold font-sans text-[#750303]">TEM CONSERTO:</span> @TemConserto</p>
            <p class="font-normal font-sans uppercase"><span class="font-bold font-sans text-[#750303]">RESPOSTA DO CLIENTE:</span> @Resposta</p>
        </div>
    </DialogContent>
</MudDialog>

@code {
    [CascadingParameter] IMudDialogInstance MudDialog { get; set; } = null!;
    [Parameter] public ServiceOrder ServiceOrder { get; set; } = new ();
    public string Situacao =>
        ServiceOrder.EServiceOrderStatus switch
        {
            EServiceOrderStatus.Entered => "Avaliação pendente",
            EServiceOrderStatus.Evaluated => "Avaliado",
            EServiceOrderStatus.Repaired => "Consertado",
            EServiceOrderStatus.Delivered => "Entregue",
            _ => "Desconhecido"
        };
    
    public string TemConserto =>
        ServiceOrder.EUnrepaired switch
        {
            EUnrepaired.Repair => "Sim",
            EUnrepaired.Unrepaired => "Não",
            EUnrepaired.NoDefectFound => "Não apresentou defeito",
            _ => "Desconhecido"
        };
    
    public string Resposta =>
        ServiceOrder.ERepair switch
        {
            ERepair.Entered => "Sem orçamento ainda",
            ERepair.Waiting => "Aguardando resposta",
            ERepair.Approved => "Aprovado",
            ERepair.Disapproved => "Não aprovou",
            _ => "Desconhecido"
        };
}