@page "/"
@layout MainLayout
@using Microsoft.AspNetCore.Authorization
@attribute [Authorize]
@inject IDialogService Dialog

<PageTitle>Home</PageTitle>

<div class="flex flex-col min-h-[100vh] min-w-[100vw] items-center justify-center ">
    <MudTabs Centered="true" Color="Color.Primary" Elevation="5" ActiveTabClass="border-solid border-2 mud-border-primary" Outlined="true" Position="Position.Left" Rounded="true" Border="true"
             ApplyEffectsToContainer="true" Class="bg-cinza w-full min-h-[100vh]">
        <MudTabPanel Text="ORÇAMENTOS PENDENTES">
            <div class="w-full flex flex-wrap justify-center">
                <MudTable Class="min-w-[100%]" Items="@OrcamentosPendentes" Hover="true" Breakpoint="Breakpoint.Sm">
                    <HeaderContent>
                        <MudTh>Número</MudTh>
                        <MudTh>Cliente</MudTh>
                        <MudTh>Modelo</MudTh>
                        <MudTh>Serie</MudTh>
                        <MudTh>Defeito</MudTh>
                        <MudTh>Ação</MudTh>
                    </HeaderContent>
                    <RowTemplate>
                        <MudTd DataLabel="Número">@context.Id</MudTd>
                        <MudTd DataLabel="Cliente">@context.Customer.Name</MudTd>
                        <MudTd DataLabel="Modelo">@context.ProductModel</MudTd>
                        <MudTd DataLabel="Serie">@context.ProductSerialNumber</MudTd>
                        <MudTd DataLabel="Defeito">@context.ProductDefect</MudTd>
                        <MudTd DataLabel="Ação"><MudButton OnClick="() => AbrirDialogAtualizar(context)" EndIcon="@Icons.Material.Filled.ArrowForward" Variant="Variant.Filled" Color="Color.Primary">
                            <p class="text-base">Orçamento</p>
                        </MudButton></MudTd>
                    </RowTemplate>
                </MudTable>
            </div>
        </MudTabPanel>
        <MudTabPanel Text="AGUARDANDO RESPOSTA">
            <div class="w-full flex flex-wrap justify-center">
                <MudTable Class="min-w-[100%]" Items="@AguardandoResposta" Hover="true" Breakpoint="Breakpoint.Sm">
                    <HeaderContent>
                        <MudTh>Número</MudTh>
                        <MudTh>Cliente</MudTh>
                        <MudTh>Modelo</MudTh>
                        <MudTh>Serie</MudTh>
                        <MudTh>Defeito</MudTh>
                        <MudTh>Ação</MudTh>
                    </HeaderContent>
                    <RowTemplate>
                        <MudTd DataLabel="Número">@context.Id</MudTd>
                        <MudTd DataLabel="Cliente">@context.Customer.Name</MudTd>
                        <MudTd DataLabel="Modelo">@context.ProductModel</MudTd>
                        <MudTd DataLabel="Serie">@context.ProductSerialNumber</MudTd>
                        <MudTd DataLabel="Defeito">@context.ProductDefect</MudTd>
                        <MudTd DataLabel="Ação"><MudButton OnClick="() => AbrirDialogAtualizar(context)" EndIcon="@Icons.Material.Filled.ArrowForward" Variant="Variant.Filled" Color="Color.Primary">
                                <p class="text-base">Orçamento</p>
                            </MudButton></MudTd>
                    </RowTemplate>
                </MudTable>
            </div>
        </MudTabPanel>
        <MudTabPanel Text="AGUARDANDO PEÇA">
            <div class="w-full flex flex-wrap justify-center">
                <MudTable Class="min-w-[100%]" Items="@AguardandoPeca" Hover="true" Breakpoint="Breakpoint.Sm">
                    <HeaderContent>
                        <MudTh>Número</MudTh>
                        <MudTh>Cliente</MudTh>
                        <MudTh>Modelo</MudTh>
                        <MudTh>Serie</MudTh>
                        <MudTh>Defeito</MudTh>
                        <MudTh>Ação</MudTh>
                    </HeaderContent>
                    <RowTemplate>
                        <MudTd DataLabel="Número">@context.Id</MudTd>
                        <MudTd DataLabel="Cliente">@context.Customer.Name</MudTd>
                        <MudTd DataLabel="Modelo">@context.ProductModel</MudTd>
                        <MudTd DataLabel="Serie">@context.ProductSerialNumber</MudTd>
                        <MudTd DataLabel="Defeito">@context.ProductDefect</MudTd>
                        <MudTd DataLabel="Ação"><MudButton OnClick="() => AbrirDialogAtualizar(context)" EndIcon="@Icons.Material.Filled.ArrowForward" Variant="Variant.Filled" Color="Color.Primary">
                                <p class="text-base">Orçamento</p>
                            </MudButton></MudTd>
                    </RowTemplate>
                </MudTable>
            </div>
        </MudTabPanel>
        <MudTabPanel Text="AGUARDANDO RETIRADA">
            <div class="w-full flex flex-wrap justify-center">
                <MudTable Class="min-w-[100%]" Items="@AguardandoColeta" Hover="true" Breakpoint="Breakpoint.Sm">
                    <HeaderContent>
                        <MudTh>Número</MudTh>
                        <MudTh>Cliente</MudTh>
                        <MudTh>Modelo</MudTh>
                        <MudTh>Serie</MudTh>
                        <MudTh>Defeito</MudTh>
                        <MudTh>Ação</MudTh>
                    </HeaderContent>
                    <RowTemplate>
                        <MudTd DataLabel="Número">@context.Id</MudTd>
                        <MudTd DataLabel="Cliente">@context.Customer.Name</MudTd>
                        <MudTd DataLabel="Modelo">@context.ProductModel</MudTd>
                        <MudTd DataLabel="Serie">@context.ProductSerialNumber</MudTd>
                        <MudTd DataLabel="Defeito">@context.ProductDefect</MudTd>
                        <MudTd DataLabel="Ação"><MudButton OnClick="() => AbrirDialogAtualizar(context)" EndIcon="@Icons.Material.Filled.ArrowForward" Variant="Variant.Filled" Color="Color.Primary">
                                <p class="text-base">Orçamento</p>
                            </MudButton></MudTd>
                    </RowTemplate>
                </MudTable>
            </div>
        </MudTabPanel>
        <MudTabPanel Text="ENTREGUES">
            <div class="w-full flex flex-wrap justify-center">
                <MudTable Class="min-w-[100%]" Items="@Entregues" Hover="true" Breakpoint="Breakpoint.Sm">
                    <HeaderContent>
                        <MudTh>Número</MudTh>
                        <MudTh>Cliente</MudTh>
                        <MudTh>Modelo</MudTh>
                        <MudTh>Serie</MudTh>
                        <MudTh>Defeito</MudTh>
                        <MudTh>Ação</MudTh>
                    </HeaderContent>
                    <RowTemplate>
                        <MudTd DataLabel="Número">@context.Id</MudTd>
                        <MudTd DataLabel="Cliente">@context.Customer.Name</MudTd>
                        <MudTd DataLabel="Modelo">@context.ProductModel</MudTd>
                        <MudTd DataLabel="Serie">@context.ProductSerialNumber</MudTd>
                        <MudTd DataLabel="Defeito">@context.ProductDefect</MudTd>
                        <MudTd DataLabel="Ação"><MudButton OnClick="() => AbrirDialogAtualizar(context)" EndIcon="@Icons.Material.Filled.ArrowForward" Variant="Variant.Filled" Color="Color.Primary">
                                <p class="text-base">Orçamento</p>
                            </MudButton></MudTd>
                    </RowTemplate>
                </MudTable>
            </div>
        </MudTabPanel>
    </MudTabs>
</div>